@import 'values.sass'
.Footer
    font-family: $icebergFont
    font-size: 1rem
    color: #aaa
    padding: 1rem 3rem
    .coins
        background: #222
        border-radius: 100%
        width: 3rem
        height: 3rem
        display: grid
        place-items: center
        margin-right: 1rem
        margin-left: 1rem
        color: gold
    .dotation
        display: flex        
        place-items: center
        background: #333
        width: 20rem
        height: 5rem
        border-radius: 30%
    a
        text-decoration: none
    .discordLink
        color: #7289da
    .Author
        text-align: right
        font-size: 16px