$AsterisRed: #EB1C35
$AsterisPurple: #D557D4
$AsterisDarkerPurple: #4e084e
$navBarBckg: rgba(33,33,33,0.4)
$textBckgColor: #000
$textBckg: 2px 2px 0 $textBckgColor, -2px -2px 0 $textBckgColor, -2px 2px 0 $textBckgColor,2px -2px 0 $textBckgColor
$icebergFont: 'Iceberg'